venv/ 
__pycache__/ 
*.pyc 
*.db 
.env 
.DS_Store

# Dagster local runtime files
dagster_home/compute_logs/
dagster_home/logs/
dagster_home/local_artifact_storage/
dagster_home/.nux/
dagster_home/.telemetry/
